<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="debugFile" xsi:type="File"
            fileName="${basedir}/logs/debug.log"
            archiveFileName="${basedir}/logs/debug.log.{##}"
            archiveEvery="Month"
            archiveNumbering="Rolling"
            maxArchiveFiles="12"
            concurrentWrites="true"
            keepFileOpen="false" />
    <target name="console" xsi:type="Console" layout="${message}"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="debugFile" />
    <logger name="*" minlevel="Info" writeTo="console" />
  </rules>
</nlog>